---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';


import type { MetaData } from '~/types';
import {getHomePermalink, getPermalink} from "../utils/permalinks";
import { t } from "i18next";

export interface Props {
  metadata?: MetaData;
  isCheckDown
}

const { metadata } = Astro.props;

const headerData = {
  links: [
    // { text: t("main.header.home"), href: getHomePermalink() },
    { text: t("main.header.features"), href: `${getHomePermalink()}#features` },
    { text: t("main.header.pricing"), href: `${getHomePermalink()}#pricing` },
    { text: t("main.header.apps"), href: `${getHomePermalink()}#apps` },
    { text: t("main.support"), href: `${getHomePermalink()}#footer` },
    { text: t("main.header.changelog"), href: "https://github.com/pure-music/PureMusic/releases"},
  ],
  actions: [{
    variant: 'primary',
    text: t("main.action.download"),
    href: getHomePermalink(),
    class: ""
  }],
  position: "left"
}

const footerData =  {
  links: [
    {
      title: t("main.support"),
      links: [
        { text: 'music.service.pub@gmail.com', href: 'mailto:music.service.pub@gmail.com' },
        { text: 'QQ:532791395', href: 'mqqapi://card/show_pslcard?src_type=internal&version=1&card_type=group&uin=532791395' },
        { text: 'Telegram', href: 'https://t.me/ppuremusic' },
      ],
    },
  ],
  secondaryLinks: [
    { text: t("main.privacy"), href: getPermalink('/privacy') },
  ],
  footNote: `
    <a class="text-blue-600 underline dark:text-muted" href="https://beian.miit.gov.cn/">粤ICP备2025454117号-1</a> 
  `,
}
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky false false />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {... footerData} />
  </slot>
</Layout>
